@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/* Super Macro */
body, div.jumbotron {
    font-family: 'Roboto', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #32292f;
    padding-top: 3rem;
}

.card {
    border: none;
}

.col-sm, .col-sm-4, .col-sm-8 {
    display: flex;
    align-items: stretch;    
    align-content: stretch;
}

.col-sm-8 {
    flex-direction: column;
    background-color: white;
   
}


.greet {
    color: black;
    text-align: center;
}

.motto {
    font-family: 'Permanent Marker', cursive;
    color: #833ab4;
    font-size: 2.8em;
    font-weight: 800;
    height: 98%;
    padding-bottom: 2%;
}

.more {
    color: #833ab4;
    border: 1px solid #833ab4;
    border-radius: 4px;
    padding: 6px;
}

.more:hover {
    
    background-color: #833ab4;
    color:white;
    text-decoration: none;
}

span.avoidwrap { display:inline-block; }


.shows {
    flex: 1;
}


.one {
    background-color: #833ab4;
} 

.two {
    background-color: #b43a3a;
}

.three {
    background-color: #3ab4b4;
}

.four {
    background-color: #3fb43a;
} 

.five {
    background-color: #e3e33c;
} 

.card-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .3%;
    object-fit: cover;
    height: 100%;
    width: 100%;  
}

.card-img:hover {
    
    transition: all .40 ease;
}



/* Typography */
.card-title {
    font-size: 1.7em;
    font-weight: 800;
    color: #32292f;
}

.catagorie {
    position: absolute;
    text-align: right;
    font-size: 2.5em;
    font-weight: 800;
    color: #fff;
}




/* Navigation */
.navbar.navbar-expand-md {
    background-color: #FAFAFA;
    border-bottom: 3px solid #833ab4;
}

a.nav-link, a.navbar-brand {
    color: #32292f;
    text-transform: uppercase;
    font-size: .9em;
    font-family: 'Roboto Condensed', sans-serif;
    
}

a.navbar-brand {
    font-size: 1.5em;
}



/* Body*/

div.card-inverse {
    flex: 1;

}

#recentbroadcast {
    flex: 1;    
}

