@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

/* Document Wide */

.container, html, body {
    height:100%;
}

body, div.jumbotron {
    font-family: 'Roboto Condensed', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #32292f;
}

body {
    padding-top: 3rem;
    background-color: #833ab4;
}

div.jumbotron {
    background-color: #FAFAFA;
    display: flex;
    align-items: stretch;    
    align-content: stretch;
}

.col-sm, .col-sm-4, col.sm-8 {
    display: flex;
    align-items: stretch;    
    align-content: stretch;
}

.col-sm-8 {
    display: flex;
    flex-direction: column;
}


/* Typography */
#shows .card-title {
    font-size: 1.5em;
    font-weight: 800;
    color: #32292f;
}

#shows .h6 {
    font-weight: 400;
    color: #32292f;
    
}




/* Navigation */
.navbar.navbar-expand-md {
    background-color: #FAFAFA;
    border-bottom: 3px solid #833ab4;
}

a.nav-link, a.navbar-brand {
    color: #32292f;
    text-transform: uppercase;
    font-size: .9em;
    
}

a.navbar-brand {
    font-size: 1.5em;
}

img.mic {
    overflow: hidden;
}


/* Body*/
.title {
    
    font-size: 5vw;
/*    color: #9D50BB;*/
    text-align: center;
    padding: 0% 0% 2% 0%;
}

div.card-inverse {
    flex: 1;

}

#recentbroadcast {
    flex: 1;
    
}

